@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap");

/* Make the page a flex column */
html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../images/background.jpg") center/cover no-repeat;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/* Push footer to bottom */
.content {
  flex: 1;
}

.image-set {
  display: none;
}


.image-set.active {
  display: flex;
}

/* NavBar Styling */
.my-navbar {
  background-color: #49492b !important;
}

.my-navbar .nav-link,
.my-navbar .navbar-brand {
  font-family: "Pacifico", cursive;
  color: #ffffff !important;
}

.my-navbar .nav-link:hover {
  color: #ff6347 !important;
}

/* Heading's Styling */
h1,
h3 {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

/* Final Cards/Images Styling */
#chosen-cards .card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  margin: 5px;
}

#chosen-cards img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0;
}

/* Overlay For Final Chosen Cards */
#chosen-cards .overlay {
  font-family: "Epunda-Slab", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 8px;
}

#chosen-cards .overlay p {
  margin: 0;
  font-size: 1rem;
}
/* Chose Date Styling */
#travel-dates-summary {
  font-family: "Epunda-Slab", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

/* Chosen Trip Styling */
#breakdown-list {
  font-family: "Epunda-Slab", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

#breakdown-list li {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 6px;
  max-width: 420px;
  width: fit content;
  list-style-position: inside;
}

/* Contact Form Styling */
.form-group {
  font-family: "Epunda-Slab", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

#contact-btn {
  font-family: "Pacifico", cursive;
  background-color: #ffffff;
  color: #49492b;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#contact-btn:hover {
  background-color: #ff6347;
}

/* Hover effect for interactivity */
#breakdown-list li:hover {
  color: #ff6347;
  transform: scale(1.03);
}

/* Footer Styling */
.my-footer {
  margin-top: auto;
  font-family: "Pacifico", cursive;
  background-color: #49492b;
  color: #ffffff;
  padding: 20px;
  width: 100%;
}

/*Social Media Links Styling */
.social-links a {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover Effect */
.social-links a:hover {
  color: #ff6347;
}
