@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.image-set {
  display: none;
}

.image-set.active {
  display: flex;
}

/* Background image styling */
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Styling heading */
h1 {
  font-family: "Pacifico", cursive;
}

/* Landing page card styling */
.square-card {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid #ddd;
}

.square-card:hover {
  transform: scale(1.03);
}

.square-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Chosen cards styling */
#chosen-cards img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin: 5px;
  border: 2px solid #ddd;
}