@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap");

/* Make the page a flex column */
html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../images/background.jpg") center/cover no-repeat;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/* Push footer to bottom */
.content {
  flex: 1;
} 


.expand {
  flex: 1;
}

.image-set {
  display: none;
}


.image-set.active {
  display: flex;
}

/* NavBar Styling */
.my-navbar {
  background-color: #49492b !important;
}

.my-navbar .nav-link,
.my-navbar .navbar-brand {
  font-family: "Pacifico", cursive;
  color: #ffffff !important;
}

.my-navbar .nav-link:hover {
  color: #ff6347 !important;
}

/* Heading Styling */
h1,
h2,
h3 {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

/* Into Screen Styling */
#intro-screen {
  font-family: "Pacifico", cursive;
  color: #140000;
  text-align: center;
  padding: 50px 20px;
}

.lead {
  background-color: #ddd;
}

/* Skip Button Styling */
#skip-btn {
  font-family: "Pacifico", cursive;
  background-color: #49492b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#skip-btn:hover {
  background-color: #ff6347;
}

/* Date Picker Styling */
#travel-form {
    font-family: "Epunda-Slab", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

#datebtn {
  font-family: "Pacifico", cursive;
  background-color: #49492b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#datebtn:hover {
  background-color: #ff6347;
}

/* Question Styling*/
.question {
  font-family: "Epunda-Slab", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

/* Landing Page Card Styling */
.square-card {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid #ddd;
}

.square-card:hover {
  transform: scale(1.03);
}

.square-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Default Overlay For Large Square Cards */
.overlay {
  font-family: "Epunda-Slab", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 8px;
}

.overlay p {
  margin: 0;
  font-size: 1rem;
}

/* Final Cards/Images Styling */
#chosen-cards .card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  margin: 5px;
}

#chosen-cards img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0;
}

/* Smaller Overlay For Final Chosen Cards */
#chosen-cards .overlay {
  font-family: "Epunda-Slab", sans-serif;
  color: #ffffff;
  font-size: 12px;
  padding: 4px;
}

#chosen-cards .overlay p {
  font-size: 0.9rem;
}

/* Chosen Trip Styling */
#breakdown-list {
  font-family: "Epunda-Slab", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  list-style: none;
  padding: 10px 20px;
  max-width: 420px;
  width: fit-content;
  margin: 20px auto;
  border-radius: 6px;
}

/* Hover effect for interactivity */
#breakdown-list li:hover {
  color: #ff6347;
  transform: scale(1.03);
}

/* Confirm Button Styling */
#confirm-btn {
  font-family: "Pacifico", cursive;
  background-color: #49492b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#confirm-btn:hover {
  background-color: #ff6347;
}

/* Footer Styling */
.my-footer {
  margin-top: auto;
  font-family: "Pacifico", cursive;
  background-color: #49492b;
  color: #ffffff;
  padding: 20px;
  width: 100%;
}

/*Social Media Links Styling */
.social-links a {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover Effect */
.social-links a:hover {
  color: #ff6347;
}
