@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap");

/* Make the page a flex column */
html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: url("../images/background.jpg") center/cover no-repeat;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/* Push footer to bottom */
.content {
  flex: 1;
}

.image-set {
  display: none;
}


.image-set.active {
  display: flex;
}

/* NavBar styling */
.my-navbar {
  background-color: #49492b !important;
}

.my-navbar .nav-link,
.my-navbar .navbar-brand {
  font-family: "Pacifico", cursive;
  color: #ffffff!important;
}

.my-navbar .nav-link:hover {
  color: #ff6347 !important;
}

/* Styling heading */
h1,
h2 {
  font-family: "Pacifico", cursive;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.65);
}

/* Gallery card styling */
.square-card {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid #ddd;
}

.square-card:hover {
  transform: scale(1.03);
}

.square-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.overlay {
  font-family: "Epunda-Slab", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 8px;
}

/* Modal Styling */
#infoModal .modal-header {
  background-color: #49492b;
  color: #ffffff;
  border-bottom: none;
}

#infoModal .modal-title {
  font-family: "Epunda-Slab", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

#infoModal .close {
  color: #000;
  opacity: 1;
}

#infoModal .close:hover {
  color: #ff6347;
}

#infoModal .modal-body {
  font-family: "Epunda-Slab", sans-serif;
  background-color: #49492b;
  color: #ffffff;
  font-size: 1rem;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

/* Footer Styling */
.my-footer {
  margin-top: auto;
  font-family: "Pacifico", cursive;
  background-color: #49492b;
  color: #ffffff;
  padding: 20px;
  width: 100%;
}
/*Social media links styling */
.social-links a {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect */
.social-links a:hover {
  color: #ff6347;
}
